/*Subroto Style */
.s130 {
  min-height: 87vh;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

td {
  padding-left: 2px;
}

div#txtHint {
  color: #111;
}

header {
  text-align: right;
  padding-top: 10px;
}

li {
  display: inline-block;
  transition-duration: 0.5s;
  position: relative;
  padding: 10px;
 }
 
 li:hover {
   cursor: pointer;
 }
 
 ul li ul {
   visibility: hidden;
   opacity: 0;
   position: absolute;
   transition: all 0.5s ease;
   margin-top: 1rem;
   left: 0;
   display: none;
 }
 
 ul li:hover > ul,
 ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  margin: 0;
  margin-left: -21px;
  text-align: left;
  z-index: 1;
 }

 ul li ul li a {
  display: block;
}

 ul li ul li {
   padding: 0;
   clear: both;
   width: 100%;
 }

form.inputForm {

}

.table-bordered td {
  padding: 25px 0px 20px 5px;
}

footer {
  background: #dfe6e9;
  color: #5f6368;
}
footer p {
  padding-bottom: 3px;
}